@import url(http://fonts.googleapis.com/css?family=Dosis:400,200,300,500,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,300,200,700);


/*************************
*******Typography******
**************************/

body {
  font-family: Verdana, "ＭＳ Ｐゴシック", Osaka,"ヒラギノ角ゴ Pro W3" ,"メイリオ" , sans-serif;
  font-size: 15px;
  color: #fff;
  background: #333;
}


.btn {
  border-radius: 0;
  font-size: 20px;
  padding: 9px 23px;
}

a {
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}

a:focus, 
a:hover {
  text-decoration: none;
  outline: none
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  text-transform: uppercase;
}

h2 {
  font-size: 36px
}

.navbar-toggle {
  margin-top: 12px
}

.navbar-toggle .icon-bar {
  background-color: #ccc;
}

.navbar-toggle, 
.navbar-toggle:focus {
  border:1px solid #fff;
  outline: none;
}


/*************************
*******Header CSS******
**************************/
#title{
	width:20%;
	float: left;
	padding: 1.5% 0 1% 1%;
}
#title img{
	width: 70%;
	height: auto;
}
.header-top {
  display: block;
  overflow: hidden;
  padding: 25px;
}

#main-nav img{
	width: 50%;
}
.container {
  width: 100%;
  padding: 0 0 20px 20px;
}
.navbar-brand {
  background-color: #333;
  height: 70px;
  margin: 4px 5px;
  position: relative;
  width: 297px;
}

.navbar-brand img {
  position: absolute;
  top: 10px;
  max-width: 70%;
  height: auto;
}

#header .row { background:#333;}

#main-menu{
	max-width:700px;
	margin: 0 auto;}
.main-menu-btn {
	margin: 2% 5px 2% auto;
  position: relative;
  display: inline-block;
  width: 28px;
  height: 28px;
  text-indent: 28px;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
/* hamburger icon */
.main-menu-btn-icon, .main-menu-btn-icon:before, .main-menu-btn-icon:after {
  position: absolute;
  top: 50%;
  left: 2px;
  height: 2px;
  width: 24px;
  background: #bbb;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}
.main-menu-btn-icon:before {
  content: '';
  top: -7px;
  left: 0;
}
.main-menu-btn-icon:after {
  content: '';
  top: 7px;
  left: 0;
}
/* x icon */
#main-menu-state:checked ~ .main-menu-btn .main-menu-btn-icon {
  height: 0;
  background: transparent;
}
#main-menu-state:checked ~ .main-menu-btn .main-menu-btn-icon:before {
  top: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
#main-menu-state:checked ~ .main-menu-btn .main-menu-btn-icon:after {
  top: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* hide menu state checkbox offscreen (so it stays visible to screen readers) */
#main-menu-state {
  position: absolute;
  top: -99999px;
}
/* hide the menu in mobile view */
#main-menu-state:not(:checked) ~ #main-menu {
  display: none;
}
#main-menu-state:checked ~ #main-menu {
  display: block;
}


/*************************
*******Home CSS******
**************************/

#home {
		clear: both;
  position: relative;
  overflow: hidden;
}

#main-slider img {
  width: 100%
}

#main-slider 
.carousel-caption {
  background: none repeat scroll 0 0 #000000;
  opacity: 0.8;
  color: #fff;
}


#main-slider 
.carousel-caption h2 {  
  font-size: 18px;
 
}

#main-slider 
.carousel-caption h4 {
  font-size: 24px;
}

#main-slider 
.carousel-caption a {
  font-size: 22px;
  color: #2da1c5
}

#main-slider 
.carousel-caption a:hover {
  color: #2588a6
}

#main-slider 
.carousel-caption a:hover i {
  margin-left: 35px
}

#main-slider 
.carousel-caption a i {
  margin-left: 15px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#main-slider 
.carousel-indicators li {
  background-color:#1B7B98;
  border: 1px solid #1B7B98;
}

#main-slider 
.carousel-indicators li.active {
  background-color:#fff;
  border: 1px solid #fff;
}

/*************************
*******Explore CSS******
**************************/

#explore {
  background-color: #fff;
  background-position: center bottom;
  background-size: contain;
  background-repeat:no-repeat;
  position: relative;
  overflow: hidden;
  padding: 4% 0;
}

.watch {
  position: absolute;
  left: 0;
  top: 7%;
}

#explore h2 {
  font-size: 42px;
  text-transform: uppercase;
  text-align: center;
}

#countdown {
  display: block;
  overflow: hidden;
  text-align: center;
  padding: 0
}
#countdown ul {
  margin: 1px;
}

#countdown li {
  list-style: none;
  display:inline-block;
  font-size: 15px;
}

#countdown li:last-child {
  margin-right: 0
}

#countdown li span {
  font-size: 30px;
  font-weight: 700;
  width: 75px;
}

#countdown li .days {
}

#countdown li .hours {
}

#countdown li .minutes {
}

#countdown li .seconds {
}
.endevent span{
	height: 0;
	display: block;
	overflow: hidden;
	text-indent: 100%;
	padding-top: 52px;
}

/*************************
*******Layout CSS******
**************************/

#member{ background:#333;}

#vision h2,
#events h2,
#report h2,
#member h2 {
  color: #fff;
  font-size: 36px;
  font-weight: 800;
  margin: 20px 0 20px;
  text-transform: uppercase;
}

/*************************
*******Vision CSS******
**************************/
#vision{
	background-image: linear-gradient( to right, rgba(0,0,0,0.7),  rgba(0,0,0,0.7)),
	url(../images/image_1.png);
	background-repeat:no-repeat;
	background-position: center left;
}
#vision p{
	margin-bottom: 4%;
	}
	
/*************************
*******Events CSS******
**************************/
#events{ background:#222;}
.col-sm-4 {
	background: #6a6a64;
	margin: 0 20px 20px 0;
	border: #41413e 1px solid;}
.single-events {
  margin-bottom: 20px;
}
.single-events img{
	margin: 0 auto;
	padding: 10px 0;
}

.single-events h4 {
  font-size: 18px;
  font-weight: 100;
  line-height: 26px;
  margin-top: 25px;
}

#events-carousel {
  position: relative;
}

.events-control-left, 
.events-control-right {
  position: absolute;
  font-size: 24px;
  color: #aaa;
  top: 0;
}

.events-control-left {
  right: 3%
} 

.events-control-right {
  right: 0;
}



/*************************
*Report CSS & JOIN US CSS*
**************************/
#report{ background:#222;}
#report p{ margin: 0 auto 20px;}
#report a{ margin: 0 auto 20px;}

#contact h3{ text-align:center;}
#contact a{ margin: 0 auto 20px;}
/*****Buttons*****/
.button {
	display: block;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-ie-border-radius: 6px;
	border-radius: 6px;
	padding: .48em .8em;
	text-shadow: rgba(0,0,0,.5) 0px -1px 0px;
	font-size: 18px;
	font-weight: 700;
	-webkit-transition-property: background-color;
	-webkit-transition-duration: .15s;
	-webkit-transition-timing-function: ease-in-out;
	cursor: pointer;
	text-decoration: none;
	margin-bottom: 20px;
}
.button:active {
	margin-top: 25px;
	margin-bottom: 15px;
}
.button span {
	vertical-align: middle;
}
.icon {
	width: 26px;
	height: 26px;
	-webkit-border-radius: 13px;
	-moz-border-radius: 13px;
	-ie-border-radius: 13px;
	border-radius: 13px;
	background: rgba(0,0,0,.3);
	float: right;
	-webkit-box-shadow: 0px 3px 0px 0px rgba(0,0,0,.2) inset, 0px 0px 0px 1px rgba(255,255,255,.2);
	-moz-box-shadow: 0px 3px 0px 0px rgba(0,0,0,.2) inset, 0px 0px 0px 1px rgba(255,255,255,.2);
	-ie-box-shadow: 0px 3px 0px 0px rgba(0,0,0,.2) inset, 0px 0px 0px 1px rgba(255,255,255,.2);
	box-shadow: 0px 3px 0px 0px rgba(0,0,0,.2) inset, 0px 0px 0px 1px rgba(255,255,255,.2);
}
.arrow {
	margin: 7px 0px 0 8px;
	-webkit-border-style: solid;
	-moz-border-style: solid;
	-ie-border-style: solid;
	border-style: solid;
	border-width:6px 6px 6px 12px;
	width: 0;
	height: 0;
}

/********Light Background Colors********/
/*Blue*/
.lightbg-blue {
	background-color: #64a8a6;
	color: #efffff;
	-webkit-box-shadow: 0px 0px 0px 1px #4e8381 inset, 0px 0px 0px 2px #74b6b4 inset, 0px 4px 0px 0px #4a7c7b, 0px 5px 0px 0px #355655, 0px 8px 0px 0px rgba(0,0,0,.15);
	-moz-box-shadow: 0px 0px 0px 1px #4e8381 inset, 0px 0px 0px 2px #74b6b4 inset, 0px 4px 0px 0px #4a7c7b, 0px 5px 0px 0px #355655, 0px 8px 0px 0px rgba(0,0,0,.15);
	-ie-box-shadow: 0px 0px 0px 1px #4e8381 inset, 0px 0px 0px 2px #74b6b4 inset, 0px 4px 0px 0px #4a7c7b, 0px 5px 0px 0px #355655, 0px 8px 0px 0px rgba(0,0,0,.15);
	box-shadow: 0px 0px 0px 1px #4e8381 inset, 0px 0px 0px 2px #74b6b4 inset, 0px 4px 0px 0px #4a7c7b, 0px 5px 0px 0px #355655, 0px 8px 0px 0px rgba(0,0,0,.15);
}
.lightbg-blue:hover {
	background-color: #73c2c0;
}
.lightbg-blue:active {
	background-color: #5a9896;
	-webkit-box-shadow: 0px 0px 0px 1px #589391 inset, 0px 0px 0px 2px #65a9a7 inset, 0px 1px 0px 0px #355655, 0px 3px 0px 0px rgba(0,0,0,.15);
	-moz-box-shadow: 0px 0px 0px 1px #589391 inset, 0px 0px 0px 2px #65a9a7 inset, 0px 1px 0px 0px #355655, 0px 3px 0px 0px rgba(0,0,0,.15);
	-ie-box-shadow: 0px 0px 0px 1px #589391 inset, 0px 0px 0px 2px #65a9a7 inset, 0px 1px 0px 0px #355655, 0px 3px 0px 0px rgba(0,0,0,.15);
	box-shadow: 0px 0px 0px 1px #589391 inset, 0px 0px 0px 2px #65a9a7 inset, 0px 1px 0px 0px #355655, 0px 3px 0px 0px rgba(0,0,0,.15);
}
.lightbg-blue .arrow {
	border-color: transparent transparent transparent #74b6b4;
}

#report .button{ width: 23em;}
#contact .button{
	font-size: 24px;
	width: 6.3em;}

/*************************
******Footer CSS****
**************************/

#footer {
  background-color: #212121;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFFFFF;
  font-size: 20px;
  padding: 35px 0;
}

#footer a {
  color:#f7ab24
}

#footer a:hover {
  color:#1B7B98
}
